!!! 5
html(lang='en')
  head
    //test no caching web page
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='0')
    
    // default page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/common.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/notepad.css', media='screen', rel='stylesheet', type='text/css')
    
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/paper.js')
    script(src='/javascripts/libs/json2.js')
    script(src='/javascripts/libs/jquery-2.0.3.js')
    script(src='/javascripts/libs/GestIT.js')
    script(src='/javascripts/libs/GestITouch.js')
    script(src='/javascripts/libs/pdf.js')
    //script(src='/javascripts/libs/compatibility.js')
    //script(src='/javascripts/libs/worker_loader.js')
    script(src='/javascripts/pad.js')
    script(src='/javascripts/tools.js')
    script(src='/javascripts/multitouch.js')
    script(src='/javascripts/helpers.js')
    
    script(type='text/javascript')
    
      //Set-up paper.js globally
      //paper.install(window);
      
      //Global variables
      var pad = new Pad();
      var classId = "#{id}"; //getting the id from jade
      var classTitle = "#{title}"; //getting the title from jade
      var thisPage = function(){
        return window.pad.Pages[window.pad.currPg];
      }
      var iWasDrawing;
      var bgnd = "none"; //default to none
      //tools
      var pen = new Pen("black",7); //init
      var eraser = new Eraser(20); //init
      var selector = new Selector(); //init
      var activeTool;
      var td1,mdCb;
      var scaleFactor,scalePoint;
      var interLines = 20;
      var toRedraw = false;
      var pdfLoaded = false;
      
      function stopScrolling(touchEvent)
      {
        touchEvent.preventDefault();
      }
      
      document.onready = function(){
        lazyInit();
        pad.bgdScope.setup(document.getElementById("background"));
        pad.rcvScope.setup(document.getElementById("fromMaster"));
        pad.drwScope.setup(document.getElementById("paper"));
        pad.drwScope.activate();
        transMonitor();
        
        //document.addEventListener( 'touchstart' , stopScrolling , false );
        document.addEventListener( 'touchmove' , stopScrolling , false );
        $("#paper").focus();
        $("#black").click();
      }
      
    script(src='/javascripts/ui.js')
    block head_scripts
    
    title ClassPad
  body
    table.container
     tr.header
      td
        .navbar
          .navbar-inner
            .responsive-container
              a.brand(href='/') ClassPad 
              .subtitle the best shared digital paper
          .btn-toolbar
            table.button-section
             tr
              td
               .btn-group
                 button#rwd.btn.btn-inverse
                   i.fa.fa-arrow-left
                 button#fwd.btn.btn-inverse
                   i.fa.fa-arrow-right
                 .clear
             tr
              td.descr navigation
            table.button-section
             tr
              td
               .btn-group
                 button#rows.btn.btn-inverse 
                  i.fa.fa-align-justify
                 button#grid.btn.btn-inverse
                  i.fa.fa-th
                 button#none.btn.btn-inverse
                  i.fa.fa-square-o
                 .clear
             tr
              td.descr paper type
            table.button-section
             tr
              td
               .btn-group
                 button#undo.fa.fa-undo
                 button#redo.fa.fa-rotate-right
                 button#fitzoom.fa.fa-arrows-alt
                 .clear
             tr
              td.descr actions
            table.button-section
             tr
              td
               .btn-group
                 button#saveAsPdf.fa.fa-download
                 //button#uploadPdf.fa.fa-upload
                 .clear
             tr
              td.descr pdf
           .clear
     tr
      td     
        table.row-fluid
          tr
           td.left-buttons
              .btn-toolbar
                .btn-group.btn-group-collapse
                 button#black.btn.btn-large
                  span.fa.fa-circle
                 button#red
                  span.fa.fa-circle
                 button#green.btn.btn-large 
                  span.fa.fa-circle
                 button#yellow.btn.btn-large 
                  span.fa.fa-circle
                 .clear
                .btn-group.btn-group-vertical
                 button#small.small-pen
                  span.fa.fa-circle
                  span.label small
                 button#medium.medium-pen
                  span.fa.fa-circle
                  span.label medium
                 button#big.large-pen
                  span.fa.fa-circle
                  span.label large
                .btn-group.btn-group-vertical.btn-group-vertical-1
                 button#eraser.btn.btn-large
                  span.fa.fa-eraser
                  span.label eraser
                 button#pen.btn.btn-large
                  span.fa.fa-pencil
                  span.label pen
                 button#select.btn.btn-large 
                  span.fa.fa-pencil-square-o
                  span.label select
               .clear
           td.canvas    
            #cnvsBg.well.well-10
              canvas#background
              canvas#forPdf
              canvas#fromMaster
              canvas#paper