 /*#background{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:0;
   width: 100%;
   height:100%;
}

 #fromMaster{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:2;
   width: 100%;
   height:100%;
}

 #forPdf{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:1;
   width: 100%;
   height:100%;
}

 #paper{
   position: relative;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:3;
   width: 100%;
   height:100%;
}

 #cnvsBg{
   position: relative;
   background-color: white;
   border: 0px;
   padding: 0 0 0 0px;
   margin: 0 0 0 0px;
}

 body {
   padding-left: 0;
   padding-right: 0;
 }
 
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .row-fluid {
   width: 940px;
   height: 60px;
   position: absolute;
   top: -325px;
   left: 4px;
 }
 .container {
   width: 100%;
   height: 80%;
   padding: 40px 0px 0px 0px;
   border: 1px solid #333333;
   background: rgba(0, 0, 0, 0) url(../images/wallpaper.png) repeat 0px 0px;
   background-size: auto;
 }
 .container .well.well-1 {
   background: transparent;
 }
 .container .well.well-2 {
   border: none;
 }
 .container .well.well-1.well-2 .navbar {
   height: 42px;
 }
 .container .well.well-1.well-2 .navbar .navbar-inner {
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .container .well.well-1.well-2 .well.well-3 {
   padding: 0px 0px 0px 10px;
 }
 .container .well.well-1.well-2 .row-fluid .span1 {
   height: 381px;
   width: 81px;
 }
 #small {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -11px -169px;
   background-size: auto;
   border: 1px solid #333333;
   height: 24px;
   width: 40px;
 }
 #medium {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -71px -168px;
   background-size: auto;
   border: 1px solid #333333;
   height: 24px;
   width: 40px;
 }
 #big {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -131px -163px;
   background-size: auto;
   border: 1px solid #333333;
   height: 30px;
   width: 40px;
 }
 #black {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -431px -166px;
   background-size: auto;
   border: 1px solid rgba(0, 0, 0, 0.0980392);
 }
 #red {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -191px -166px;
   background-size: auto;
 }
 #green {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -250px -166px;
   background-size: auto;
 }
 #blue {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -310px -166px;
   background-size: auto;
 }
 #yellow {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -370px -166px;
   background-size: auto;
 }
 .container .well.well-1.well-2 .row-fluid .span1 .well.well-1 .btn-group.btn-group-vertical.btn-group-vertical-1 {
   padding: 10px 0px 0px 0px;
   margin: 0px;
 }
 #eraser {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%), url(../images/icons.png);
   background-repeat: no-repeat, no-repeat;
   background-position: -72px -111px;
   background-size: auto;
   border: 1px solid rgba(0, 0, 0, 0.0980392);
   height: 34px;
   width: 40px;
 }
 
/* ===[ FONTS ] === */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);
 
 /* GABRIELE */
 html,
 body {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
 }
 body {
	 /*background: url("../images/retina_wood.png") repeat;*/
	 background: rgba(118, 124, 141, 1);
 }
 .well {
	 padding: 0px 0px;
 }
 a {
	 color: #fff;
	 text-decoration: none;
 }
 .clear {
	 clear: both;
	 width: 0px;
	 height: 0px;
	 display: block;
 }
 .container {
	 width: 100%;
	 height: 100%;
	 border-collapse: collapse;
	 margin: 0;
	 padding: 0;
	 border: 0;
	 border-spacing: 0;
 }
 .container tr,
 .container tr td {
	 border-collapse: collapse;
	 margin: 0;
	 padding: 0;
	 border: 0;
	 border-spacing: 0;
 }
 table,
 table tr,
 table tr td {
	 border-collapse: collapse;
 }
 
 /* ===[ NAV BAR ] === */
  .container tr.header td {
	  height: 10px;
  }
 .navbar {
	 width: 100%;
	 background: rgba(235,235,235,1);
	 padding: 40px 0px 40px 0px;
	 font-size: 50px;
 }
 .navbar .brand {
	 font-family: "Lobster Two", cursive;
	 /*text-shadow: rgba(0,0,0,0.2) -1px -1px, rgba(255,255,255,1) 1px 1px;*/
	 color: rgba(90, 104, 127, 1);
	 font-style: italic;
	 padding-left: 40px;
	 line-height: 40px;
 }
 .navbar .subtitle {
	 font-size: 12px;
	 font-style: italic;
	 padding-left: 55px;	
	color: rgba(118, 124, 141, 1);
	margin-top:-5px; 
 }
.navbar-inner {
	float: left;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	margin-top: -5px;
	
}
.navbar button {
	width: 50px;
	height: 50px;
	background: none;
	border: 2px solid rgba(118, 124, 141, 1);
	border-radius: 25px;
	color: rgba(118, 124, 141, 1);
	font-size: 13px;
}
 /* ===[ BUTTONS ]=== */
 .btn-toolbar {
	 float: right;
	 width: 650px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
 }
  .btn-toolbar .button-section {
	  border-collapse: collapse;
	  text-align: center;
  }
  .btn-toolbar .button-section,
  .btn-toolbar .button-section tr,
  .btn-toolbar .button-section tr td {
	  vertical-align: middle;
  }
 .btn-toolbar .button-section {
	 font-size: 13px;
	 font-style: italic;	
	color: rgba(118, 124, 141, 1); 
	 margin-left: 30px;
	 float: left;
	 
 }
 .btn-toolbar .btn-group {
	 border-bottom: 1px solid rgba(118, 124, 141, 0.3);
	 padding-bottom: 5px;
 }
 .btn-toolbar .button-section:first-child {
	 float: left;
	 margin-left: 0px;
 }
 
 /* ===[ Left Buttons ]=== */
 table.row-fluid {
	 border-collapse: collapse;
	 height: 100%;
	 width: 100%;
	 overflow: hidden;
 }
 .left-buttons {
	 width: 20%;
	 background: rgba(0,0,0,0.5);
	 min-width: 158px;
 }
 .left-buttons .btn-toolbar,
 .left-buttons button,
 .left-buttons .btn-group {
	 width: auto;
 }
  .left-buttons .btn-group 
  {
	  padding-top: 10px;
	  padding-bottom: 14px;
  }
  .left-buttons .btn-group:first-child {
	  padding-top: 0;
  }
  .left-buttons .btn-group:last-child {
	  border-bottom: 0;
	  padding-bottom: 0;
  }
 .left-buttons .btn-toolbar {
	 margin: 0 20px 0 20px;
	 float: none;
 }
  .left-buttons button {
	  background: none;
	  height: 44px;
	  margin: 0;
	  padding: 0;
	  border: none;
	  display: block;
	  line-height: 40px;
	  margin-top: 5px;
  }
 .left-buttons button span.fa {
	width: 40px;
	height: 40px;
	background: none;
	float: left;
	border: 2px solid rgba(118, 124, 141, 1);
	border-radius: 22px;
	color: rgba(118, 124, 141, 1);
	display: block;
	  line-height: 40px;
	font-size: 13px;
}
.left-buttons button .label {
	height: 40px;
	background: none;
	float: left;
	display: block;
	  line-height: 40px;
	 font-size: 13px;	
	color: rgba(118, 124, 141, 1); 
	text-align: left;
	margin-left: 0px;
}
.left-buttons button .label:before {
	content:"";
	height: 1px;
	width:15px;
	display:block;
	background: rgba(118, 124, 141, 1);
	margin-top: 21px;
	margin-left: 0;
	margin-right: 5px;
	float: left;
}
	
.left-buttons button.small-pen span.fa {
	font-size: 10px;
}
.left-buttons button.large-pen span.fa {
	font-size: 17px;
}
button#black span.fa {
	color: #222;
	font-size: 40px;
}
button#red span.fa {
	color: #C74439;
	font-size: 40px;
}
button#green span.fa {
	color: #64A854;
	font-size: 40px;
}
button#yellow span.fa {
	color: #C3C333;
	font-size: 40px;
}

/* === [ Collapsed buttons ] === */
.left-buttons .btn-group-collapse button {
	width: 44px;
	float: left;
	margin-right: 5px;
}
 /* ===[ Canvas ]=== */
 td.canvas {
    height: 85%;
	 width: 100%;
 }
 #cnvsBg {
	 background: #FFF;
	 position: relative;
	 width: 100%;
	 height: 100%;
 }
 #background{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:0;
   width: 100%;
   height:100%;
}

 #fromMaster{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:2;
   width: 100%;
   height:100%;
}

 #forPdf{
   position: absolute;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:1;
   width: 100%;
   height:100%;
}

 #paper{
   position: relative;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index:3;
   width: 100%;
   height:100%;
}
 
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .row-fluid {
 }
 
/* FRANCESCO DISABLED BUTTONS CLASS  */
.disabled {
  opacity:0.5;
}

.glowing {
  
  -moz-box-shadow: 0 0 5px 5px #00f;
  -webkit-box-shadow: 0 0 5px 5px #00f;
  box-shadow: 0 0 5px 5px #00f;
}

.footer {
   background: rgba(235,235,235,1);
   text-align: center;
   border: 1px rgba(0,0,0,0.5);
   padding: 0 0 0 0px;
   margin: 0 0 0 0px;
   font-family: "Lobster Two", cursive;
   color: rgba(90, 104, 127, 1);
   font-style: italic;
}